{{> head}}
{{> navbar}}
<div class="container">
<div class="row mt-5">
    <div class="col-lg-8">
        <h1>About page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolorum cupiditate et, rerum eius reiciendis.</p>
    </div>
    <div class="col-lg-4">
        <img class="img-thumbnail" src="assets/imgs/photo.webp" alt="#" />
    </div>
</div>
</div>
{{> footer}}