
{{> head }}

    {{> navbar }}
    <h1 class="text-center">Hello {{name}}</h1>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Info section</h1>
          <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, hic.</p>
          <button class="btn btn-primary">Read more</button>
        </div>
    </div>
{{> footer }}